.container2 {
  padding: 15px;
  margin: 15px;

  h2 {
    margin: 10px 0 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .dateandphoto {
    .date {
      color: rgba(0, 0, 255, 0.671);
    }
    .photocredit {
      color: darkgray;
    }
  }
}
.container#content {
  margin-top: 15px;
}

body {
  background-color: $light-gray;
  font-family: $site-font;
}
a {
  color: #d7e3f0;
  &:hover {
    color: #8dc7ee;
    text-decoration: none;
  }
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}
.page-title {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgb(221, 220, 220);
}
.navbar {
  background-color: rgb(21, 92, 185);
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(172, 168, 168, 0.4);
  line-height: 1;
}
.navbar-light .navbar-toggle {
  outline: none;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #e3e3e4;

  &:hover {
    color: #030647;
  }
}
ul {
  list-style: none;
  padding: 0;
}

.ulsidebar {
  margin-top: 20px;
}

.kontaktpage {
  margin-bottom: 20px;
}

.dodaj {
  margin-top: 10px;
}

.info2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #363a75;
}
.newstitle {
  font-weight: bold;
}
.subtitlenews {
  color: gray;
}

.searchbar {
  width: 17rem;
  background: #ffffff;
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 550px) {
  .kontaktpage {
    .xy {
      b {
        font-size: 14px;
      }
    }
  }
  .info2 {
    font-size: 15px;
  }
  .page-title {
    font-size: 30px;
  }
  .searchbar {
    width: 15rem;
  }
}
@media only screen and (max-width: 510px) {
  .dropdown button {
    padding: 0.33rem 0.35rem;
  }
}
@media only screen and (max-width: 460px) {
  .subtitlenews {
    font-size: 14px;
  }
  .btn {
    padding: 0.2rem 0.6rem;
  }
  .searchbar {
    width: 14rem;
  }
}
@media only screen and (max-width: 450px) {
  .searchbar {
    width: 13rem;
  }
}

@media only screen and (max-width: 440px) {
  .kontaktpage {
    .xy {
      b {
        font-size: 13px;
      }
      span {
        font-size: 14px;
      }
    }
  }
  .dropdown button {
    padding: 0.38rem 0.6rem;
    font-size: 15px;
  }
  .searchbar {
    width: 12rem;
  }
}

@media only screen and (max-width: 440px) {
  .dropdown button {
    padding: 0.42rem 0.6rem;
    font-size: 14px;
  }
  .searchbar {
    width: 11rem;
  }
}
