.container2 {
  margin-top: 30px;
}
.container#content {
  margin-top: 60px;
}

body {
  background-color: $light-gray;
  font-family: $site-font;
}
a {
  color: #d7e3f0;
  &:hover {
    color: #8dc7ee;
    text-decoration: none;
  }
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}
.page-title {
  margin-top: 55px;
}
.navbar {
  background-color: rgb(21, 92, 185);
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(172, 168, 168, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #e3e3e4;
  &:hover {
    color: #030647;
  }
}
ul {
  list-style: none;
  padding: 0;
}

.ulsidebar {
  margin-top: 70px;
}
