.business-title-icon {
  display: flex;
  align-items: center;
}
.business-logo2 {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  margin-right: 20px;
}

.business-title {
  margin-bottom: 0;
}
.business-address {
  color: rgb(150, 150, 150);
}

.site-socials {
  margin-top: 15px;
  padding: 5px;

  .social-links {
    margin-left: 120px;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: $dark-gray;

          &.instagram:hover {
            color: #e95950;
          }
          &.facebook:hover {
            color: rgb(66, 103, 178);
          }

          &.google:hover {
            color: rgb(221, 75, 57);
          }
        }
      }
    }
  }
}
.header-links {
  padding: 15px;
}

.navbar__link--active {
  background-color: rgba(116, 135, 243, 0.295);
  transition: border-bottom 0.5s ease-in-out;
}

.all-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.searchandfilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info {
  margin-left: 125px;
}

.info-title {
  margin-bottom: 8px;
  color: gray;
}
.info-title-more {
  margin-top: 25px;
  color: gray;
}
.spec-info {
  margin-left: 100px;
}

@media only screen and (max-width: 767px) {
  .all-posts {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 657px) {
  .business-title {
    font-size: 36px;
  }
  .info {
    .info-title {
      font-size: 19px;
    }
  }
  .business-logo2 {
    width: 95px;
    height: 95px;
  }
  h5,
  .h5 {
    font-size: 1.2rem;
    span {
      font-size: 1.2rem;
    }
  }
}
@media only screen and (max-width: 567px) {
  .business-title {
    font-size: 34px;
  }
  .info {
    .info-title {
      font-size: 18px;
    }
  }
  .business-logo2 {
    width: 90px;
    height: 90px;
  }
  h5,
  .h5 {
    font-size: 1rem;
    span {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 505px) {
  .card-title {
    font-size: 20px;
  }
  .card-text {
    font-size: 15.5px;
    margin-bottom: 10px;
  }
  .btn-outline-primary {
    padding: 0.3rem 0.7rem;
  }
  .business-title {
    font-size: 32px;
  }
  .info {
    .info-title {
      font-size: 17px;
    }
  }
  .business-logo2 {
    width: 80px;
    height: 80px;
  }
  h5,
  .h5 {
    font-size: 0.9rem;
    span {
      font-size: 0.9rem;
    }
  }
  .site-socials .social-links {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 444px) {
  .business-title {
    font-size: 32px;
    margin-bottom: 5px;
  }
  .card-text {
    font-size: 15px;
  }
  .btn-outline-primary {
    padding: 0.27rem 0.6rem;
  }
  .info {
    margin-left: 95px;
  }
  .business-logo2 {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 415px) {
  .business-title {
    font-size: 30px;
  }
  .card-title {
    font-size: 18px;
  }
  .card-text {
    font-size: 14.5px;
  }
  .btn-outline-primary {
    padding: 0.2rem 0.5rem;
  }
  .business-title-icon {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0px;
    .info-title {
      font-size: 15px;
    }
  }
  .business-logo2 {
    width: 70px;
    height: 70px;
  }
}
