.card {
  margin-bottom: 30px;
}
.card-title {
  font-weight: bolder;
  font-size: 25px;
}
.card-tags {
  display: flex;
  justify-content: space-between;

  .badge {
    margin-left: 5px;
  }
}
.blog-container {
  display: flex;
  justify-content: center;
}
.business-template-row {
  margin-top: 100px;
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}

.business-logo {
  width: 105px;
  height: 105px;
  border-radius: 50%;
}
.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
}

.card-link {
  color: rgb(54, 123, 212);
}
