@mixin flexing($direction, $justify) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
}

.card {
  margin-bottom: 30px;
}
.card-title {
  font-size: 27px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card-tags {
  @include flexing(row, space-between);

  .badge {
    margin-left: 5px;
  }
}
.blog-container {
  @include flexing(row, center);
}
.business-template-row {
  margin-top: 30px;
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}

.business-logo {
  width: 105px;
  height: 105px;
  border-radius: 50%;
}
.card-flex {
  @include flexing(row, center);
  align-items: center;
  padding: 5px;
  margin-left: 10px;

  .card-body {
    @include flexing(row, space-between);
    .trenutno {
      font-size: 14px;
      color: rgb(21, 71, 180);
    }
  }
}

.card-link {
  color: rgb(54, 123, 212);
}
.card-image-top2 {
  height: 350px;
  padding: 10px;
}

.blog-post-content {
  margin-top: 10px;
  color: black;
}
.dateandphoto {
  @include flexing(row, space-between);
}

.clean {
  color: rgb(9, 106, 250);
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .card-title {
    font-size: 25px;
  }
}

@media only screen and (max-width: 575px) {
  .text-info {
    font-size: 14px;
  }
}

@media only screen and (max-width: 550px) {
  .business-logo {
    width: 90px;
    height: 90px;
  }
  .card-body {
    padding: 1rem;
  }
  .trenutno {
    div {
      font-size: 12px;
    }
    b {
      font-size: 12px;
    }
  }
  .card-flex {
    padding: 2px;
  }
  .posttitle {
    font-size: 28px;
  }
}

@media only screen and (max-width: 510px) {
  .badge {
    padding: 0.21em 0.31em;
    font-size: 65%;
  }
  .card-title {
    font-size: 23px;
  }

  .blog-post-content {
    p {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 470px) {
  .trenutno {
    display: none;
  }
  .posttitle {
    font-size: 25px;
  }
  .blog-post-content {
    p {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .business-logo {
    width: 80px;
    height: 80px;
  }
  .text-info {
    font-size: 12px;
  }
}

@media only screen and (max-width: 369px) {
  .business-logo {
    width: 72px;
    height: 72px;
  }
  .card-title {
    font-size: 20px;
  }
}
