.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  .address-footer {
    color: rgb(123, 122, 122);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .links-footer {
    color: rgb(123, 122, 122);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    a {
      color: rgb(123, 122, 122);
    }
    a:hover {
      color: rgb(46, 5, 141);
    }
  }

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: $dark-gray;

          &.instagram:hover {
            color: #e95950;
          }
          &.facebook:hover {
            color: rgb(66, 103, 178);
          }
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.google:hover {
            color: rgb(221, 75, 57);
          }
          &.linkedin:hover {
            color: rgb(0, 119, 181);
          }
        }
      }
    }
  }
}
