@mixin flexing($direction, $justify) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
}

.site-footer {
  @include flexing(row, space-between);
  align-items: center;
  background-color: $white;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  .address-footer {
    color: rgb(123, 122, 122);
    font-size: 12px;
    @include flexing(column, space-between);
    align-items: flex-start;
  }
  .links-footer {
    color: rgb(123, 122, 122);
    font-size: 12px;
    @include flexing(column, space-between);
    a {
      color: rgb(123, 122, 122);
    }
    a:hover {
      color: rgb(46, 5, 141);
    }
  }

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: $dark-gray;

          &.instagram:hover {
            color: #e95950;
          }
          &.facebook:hover {
            color: rgb(66, 103, 178);
          }
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.google:hover {
            color: rgb(221, 75, 57);
          }
          &.linkedin:hover {
            color: rgb(0, 119, 181);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  .footertitle {
    font-size: 1.2rem;
  }
  .footerpar {
    font-size: 14px;
  }
  .links-footer a {
    font-size: 10px;
  }
  .address-footer div {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .links-footer a {
    display: none;
  }
  .address-footer div {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .footertitle {
    font-size: 1rem;
  }
  .footerpar {
    font-size: 12px;
  }

  .social-links-list li a {
    height: 18px;
    width: 18px;
  }
}
