.headerItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #155cb9;
  height: 49px;

  h4 {
    color: #d7e3f0;
    margin-left: 10px;
    margin-top: 5px;
    &:hover {
      color: #8dc7ee;
      text-decoration: none;
    }
  }
}
.mainheaderLinksMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #155cb9;
  height: 49px;
  h4 {
    color: #d7e3f0;
    margin-left: 10px;
    margin-top: 5px;
    &:hover {
      color: #8dc7ee;
      text-decoration: none;
    }
  }
}
.headerLinksMobile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #155cb9;
  position: relative;
  top: 75px;
  z-index: 99;
}

.headerLinksMobile2 {
  svg {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .hambar {
    margin-bottom: 0;
    cursor: pointer;
  }
}

.collapsedLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  a {
    padding: 10px 40px 10px 40px;
  }
}
